

.Todo-main{
    display: flex;  
    justify-content: center;
    align-items: center;
    height:900px;
    /* background-color: black; */
}
/* display: flex; */


.Todo-child{
    background-color: white;

    flex-direction: column;
    width: 60%;
    height: 850px;

    /* border: 5px solid royalblue; */
    /* text-align: center; */
    background-color:seashell;
    border-radius: 23px;
}
.Todo-parent{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
justify-content: center;
width: 100%;
/* border: 2px solid red; */
align-items: center;
/* height: 200px; */
}
.todo-ul{ 
    padding-left: 0px;
    margin: 0px;
     /* overflow-y: scroll; */
    height: 730px;
    /* border: 2px solid red; */
    /* text-align: center;*/
    display: flex;
    flex-direction: column;
    /* justify-content:space-evenly; */
    align-items: center;
}
.todo-li{
    /* background-color: rgb(19, 22, 29); */
    /* background-color:royalblue; */
    margin: 5px;
    width: 90%;
    display: flex;
    justify-content:space-between;
    border-radius: 10px;
    list-style: circle;
    list-style-position: inside;
    list-style:lower-greek ;
    border-bottom: 4px solid aqua;
    padding-left: 12px;
}
.li-todo-btn{
    font-size: 12px;
}
.input-todo{
    padding-left: 10px;
    border: 3px solid royalblue;
    margin-top: 10px;
    width: 70%;
    height: 40px;
    border-radius: 9px;
    /* background-color: royalblue; */
    font-size: 23px;
}
.input-todo:hover{
    background-color: aqua;
}
.btn1{
    width: 70px;
    height: 20px;
    /* text-align: ; */
    margin: 3px 5px;
    border-radius: 300px;
    background-color: aqua;
    font-size:0.8vw;
    /* background-color:transparent; */
}
.btn1:hover{
background-color: seashell;
cursor: pointer;

}
.btn-parent{
    /* border: 2px solid red; */
width: 50%;
/* background-color: royalblue; */
text-align:right;

}
h1{
    width: auto;
    margin: 0px;
    font-size: 18px;
    padding: 2px 0px 0px 15px;
    color: white;
}
.pmt{
    /* display: flex; */
    width: 43%;
    height: 30px;
    border: 2px solid royalblue;
}
.permanent-btn{
     /* display: flex; */
    /* justify-content: space-between;  */
    text-align: center;
    /* width: 15%; */
}
.delimg{
    width:20px;
    height:20px;
    margin-right: 10px;
  }
  
  .delimg1{
    width:30%;
    height:35px;
    margin-right: 10px;
  }
  
h5{
    margin: 0px;
    width: 50%;
    color:aqua;
    padding:10px 0px 0px 10px;
}
#para{
    display: flex;
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

@media only screen {
    
}